/*! minireset.css v0.0.7 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ul {
    list-style: none;
}

button,
input,
select {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img,
video {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

// fonts

@import url(https://fonts.googleapis.com/css?family=Inconsolata:700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);

// basic

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Space Mono';
}

[class*="__container"] {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

// header

.header {

    // .header__container

    &__container {
    }

    // .header__title

    &__title {
        padding: 40px 0;
        font-family: 'Inconsolata';
        font-weight: 700;
        font-size: 24px;
        line-height: 25px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
        color: #333333;
    }
}

// main

.page {
    display: flex;
    align-items: center;
    justify-content: center
}

.hero {

    &__container {
        display: flex;
        align-items: center;
        gap: 113px;
        @media (max-width: 1280px) {
            gap: 30px;
        }
        @media (max-width: 992px) {
            display: block;
        }
    }

    // .hero__img

    &__img {
        flex: 0.8;
    }

    // .hero__content

    &__content {
        flex: 1.2;
        max-width: 586px;
    }

    // .hero__title

    &__title {
        font-family: 'Space Mono';
        font-weight: 700;
        font-size: 64px;
        line-height: 95px;
        letter-spacing: -0.035em;
        color: #333333;
        @media (max-width: 576px) {
                font-size: 48px;
                line-height: 71px;
            }
    }

    // .hero__desc

    &__desc {
        margin-top: 36px;
        max-width: 381px;
        font-family: 'Space Mono';
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.035em;
        color: #4F4F4F;
        @media (max-width: 576px) {
                font-size: 18px;
                line-height: 27px;
            }
    }

    // .hero__btn

    &__btn {
        margin-top: 36px;
        display: inline-block;
        padding: 24px 43px;
        background-color: #333333;
        font-family: 'Space Mono';
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.035em;
        text-transform: uppercase;
        text-decoration: none;
        color: #FFFFFF;
    }
}

// footer

.footer {
    padding-top: 50px;
    padding-bottom: 25px;

    // .footer__container

    &__container {
    }

    // .footer__copyright

    &__copyright {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    
        color: #BDBDBD;
    }
}

.copyright {

    // .copyright__owner

    &__owner {
        font-weight: 700;
        text-decoration: underline;
    }
}

